:root{
    --primary-font: 'Roboto';
    --primary-color: #B21F89;
    --secondary-color: #F27626;
    --third-color: #666;
    --fourth-color: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h3{
    font-size: 24px;
    color: var(--fourth-color);
}

.navbar-toggler{
    border:3px solid rgb(255, 255, 255);
    color: var(--fourth-color);
}

.navbar-toggler img{
    width: 30px;
}



/******************** HEADER ***************************/

.bg-header{
    background-color: var(--primary-color);
    padding: 20px 40px;
}

.logo-main img{
    width: 120px;
}

.nav-item{
    padding: 30px 20px;
    transition-duration: 0.6s;
}

.nav-item:hover{
    background-color: var(--fourth-color);
    color: var(--primary-color);
    transform: rotate(360deg);
    opacity: 0.8;
    border-radius: 50%;
}

.nav-link{
    color: var(--fourth-color)
}






/******************** FOOTER ***************************/

.link-footer{
    text-decoration: none;
    color: var(--fourth-color);
    transition-duration: 0.2s;
}
.link-footer:hover{
    color: var(--secondary-color);

}

.bg-footer{
    background-color: var(--primary-color);
    padding: 20px 100px;
    color: var(--color-text-one)
}

.icon-footer{
    width: 50px;
    transition-duration: 0.3s;
}
.icon-footer:hover{
    transform: scale(1.08);
}

.icon-footer-shop{
    width: 150px;
    transition-duration: 0.3s;
}

.icon-footer-shop:hover{
    transform: scale(1.08);
}


