*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header'
    'aside main';
}

body header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #345B63;
    grid-area: header;
    height: 60px;
}
body header img{
    width: 40px;
    margin: 0 auto;
}


body aside{
    background-color: #152D35;
    grid-area: aside;
    position: relative;
}
body aside nav{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
body aside nav ul {
    list-style: none;
    margin-top: 40px;
    position: fixed;
    width: 200px;
}
body aside nav ul li{
    padding: 10px 10px;
    transition-duration: 0.5s;    
}
body aside nav ul li:hover{
    background-color: #0d1f25;
}


body main{
    display: flex;
    flex-direction: column;
    background-color: #DDF0E4;
    grid-area: main;
    min-height: 400px;
    padding: 50px 20px;
}

body main figure img{
    width: 100%;
}
h2{
    margin: 20px 0;
}

p{
    text-align: justify;
}