@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html{
    scroll-behavior: smooth;
}

.main {
    margin: 0;
    padding: 0 40px;
}

.banner {
    width: 100%;
    height: calc(100vh - 100px);
    color: #fff;
    margin-top: 90px;
    position: relative;
    padding: 20px 20px 0 20px;
}

.produto1 {
    background: url('../images/detalhes/acai/topo-produtos-acai-interna-1536x864.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.produto2 {
    background: url('../images/detalhes/giratto/topo-produtos-giratto-interna-1-1536x864.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.produto3 {
    background: url('../images/detalhes/frutos/topo-produtos-frutos-interna-1536x864.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.produto4 {
    background: url('../images/detalhes/delicia/topo-produtos-delicia-interna-1536x864.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.produto5 {
    background: url('../images/detalhes/latte/topo-produtos-latte-interna-1536x864.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.produto6 {
    background: url('../images/detalhes/light/topo-produtos-napolitano-interna-1536x864.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.produto7 {
    background: url('../images/detalhes/omega/topo-produtos-omega-interna-1-1536x864.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.produto8 {
    background: url('../images/detalhes/sundae/topo-produtos-sundae-interna-1536x864.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    margin-top: 20px;
}

section ol {
    background-color: #fff;
    
    opacity: 0.5;
    height: 40px;  
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

section a {
    text-decoration: none;
    color: #B21F89;
}

section a:hover{
    color: #B21F89;
}

section li {
    padding-left: 20px;
    
}

.banner h1 {
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding: 30px 20px 10px 50px;
    display: grid;
    grid-template-columns: 380px;
}

.banner p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 10px 50px 50px;
    display: grid;
    grid-template-columns: 380px;
    flex-direction: column;
}

a.button {
    appearance: button;
    text-decoration: none;
    background-color: #F27626;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 60px;
    width: 300px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    transition: all 1s ease-in-out;
}

a.button:hover {
    box-shadow: 5px 5px 5px #f07524;;
    background-color: #da5e0b;
    color: #fff;
    transform: scale(1.2);
}

main h1 {
    color: #B21F89;
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

.line {
    border: 2px solid #F27626;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.imagem-sabores {
    border-color: #B21F89;
    border-style: solid;
    border-width: thin;
    width: 100%;    
    transition: all 1s ease-in-out;
}

.imagem-sabores:hover{
    transform: scale(1.05);   
}

.columns {
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    flex-direction: column;
    padding: 10px;
}

main div {
    padding: 12px;
}

.info {
    background-color: #B21F89;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.info h1 {
    font-size: 28px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.info hr {
    width: 350px;
    margin: 0 auto;
    color: #fff;
    border-top: double;
}

.info p {
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@media (max-width: 768px) {

    section ol {
        background-color: #fff;
        opacity: 0.5;
        height: 30px;  
        align-items: center;
        border-radius: 6px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }
    
    section a {
        text-decoration: none;
    }
    
    section li {
        padding-left: 15px;
    }

    .banner h1 {
        margin-top: 100px;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        padding: 30px 10px 6px;
        display: grid;
        grid-template-columns: 380px;
    }
    
    .banner p {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        padding: 30px 10px 6px;
        display: grid;
        grid-template-columns: 200px;
        flex-direction: column;
    }

    a.button {
        appearance: button;
        text-decoration: none;
        background-color: #F27626;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        height: 40px;
        width: 150px;
        margin-top: 15px;
        margin-left: 5px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 30px;
    }
    
    a.button:hover {
        box-shadow: 5px 5px 5px #f07524;;
        background-color: #da5e0b;
        transform: scale(1.1);
    }

    main h1 {
        color: #B21F89;
        font-family: 'Roboto', sans-serif;
        font-size: 34px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
    }
}