@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FACE7F;
    
}

header #logo{
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background-color: #F9D5A7;
    margin: 10px 0;
    box-shadow: 0px 0px 1px 5px #FF616D;
}

header #logo h1{
    margin-top: 20px;
    color: #fff;
    text-shadow: 1px 2px #FF616D;
}

header #logo h3{
    margin-bottom: 20px;
    color: #FF616D;
    text-shadow: 1px 1px #fff;
}

nav{
    position: sticky;
    top: 0;
    z-index: 2;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #FF616D;
    width: 100vw;
    

}

nav ul a{
    text-decoration: none;
    color: #dddada;
}

nav ul a li{
    padding: 10px 20px;
    transition-duration: 0.2s;
}

nav ul a li:hover{
    background-color: #f3828c;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    color: #fff;
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/be/Pedra_do_Ing%C3%A1_-_s%C3%ADtio_arqueol%C3%B3gico.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 149px);
   
}

#banner h2{
    text-align: center;
    opacity: 0.9;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 20px;
}

main>h2{
    width: 90%;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin: 20px 0;
    text-align: center;

}

main #main{
    display: flex;
    width: 100%;
    
}

main #main .about, .video{
    width: 50%;
    min-height: 200px;
    padding: 0 20px; 
    text-align: justify;
}

#main .about h2{
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

#main .video h2{
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}


#main .video iframe{
    width: 100%;
    height: 400px;
}

#photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FACE7F;
    height: auto;
}

#photos>h2{
    width: 90%;
    color: #050000;
    border-bottom: 2px solid #000000;
    margin: 20px 0;
    text-align: center; 
} 

#photos section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#photos section figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    height: 250px;
    box-shadow: 0 0 1px 2px #000;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    transition-duration: 1s;
}

#photos section figure:hover{
    transform: scale(1.1);
}


#photos section figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#photos section figure figcaption{
    background-color: #000;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    opacity: 0.7;
}

#contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    padding: 10px 40px;

}


#contact .forms, .maps{
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px solid red;
}

#contact .forms{
    align-items: center;
}

#contact .maps iframe{
    width: 100%;
    min-height: 400px;
}


#contact .forms .form-idem{
    width: 99%;
    margin: 5px  0 20px 0;
    padding: 8px 10px;
    border-radius: 5px;
    transition-duration: .3s;
}

#contact .forms .form-idem:hover{
    transform: scale(1.09);
}

#contact .forms p{
    margin-bottom: 5px;
}

.form-idem:focus{
    background-color: #B1E693;
    color: #000;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.form-select{
    margin: 10px 0;
}

.submit{
    width: 100%;
    padding: 10px 0;
    background-color: #6ECB63;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-top: 30px;
}

.submit:hover{
    background-color: #82d679;
}